@font-face {
    font-family: miFuente ;
    src: url(../fuente/Gambetta-Italic.otf);
    font-weight: 200;
    font-size: large;
 
} 

@font-face {
    font-family: miFuente2 ;
    src: url(../fuente/Gambetta-Regular.otf);
    font-weight: 100;
} 

@font-face {
    font-family: miFuente3 ;
    src: url(../fuente/Gambetta-Light.otf);
    font-weight: 100;
} 

*{
    box-sizing: border-box;
}

header { 
content: flex;
} 

.contenedor{
width: 100%;
height: 100vh;
display:grid;
grid-template-areas: 
"nav nav nav nav"
"side-area main Main2 side-area2"
"side-area main Main2 side-area2"
"footer footer footer footer";
grid-gap: 0.2rem;
grid-template-rows: 80px 1fr 1fr 65px;
grid-template-columns: 50px 4fr 3fr 50px;

}

.nav{
    grid-area:nav;
    display: block;
    clear: both;
    /* background-color: yellow; */
}

h1 {
    font-family: miFuente;
    font-size: 3em;
    font-weight: 200;
    text-align: right;
    margin-top: 2%;
    margin-right: 5%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.8px;
}

.main-content{
    grid-area: main;
    overflow: scroll;
}

h2{
    font-family: miFuente;
    font-size: 1em;
    font-weight: 200;
   
}

h3 {
    font-family: miFuente3;
    font-size: 1.2em;
    font-weight: 200;
    margin-left: 88%;
}

.icono{
    text-decoration: none;
    color: black;

}

.icono2{
    text-decoration: none;
    color: black;
    text-decoration: underline;
    color: black;

}

.icono2:hover {
    color: red;
     transition: .4es ease;
       }  

.icono:hover {
    color: red;
     transition: .4es ease;
       }  
   
.borde {
    border: 1px solid black;
   
       }  
.parrafo{
    font-family: miFuente2;
    font-size: 1em;
    font-weight: 200; 
}

.parrafo2{
    font-family: miFuente3;
    font-size: 1em;
    font-weight: 200; 
}

.main-content2{
    grid-area: Main2;
    /* background-color: aqua; */
   
}

.side-area {
    /* background-color: blueviolet; */
    grid-area: side-area;
}

.side-area2 {
    /* background-color: pink; */
    grid-area: side-area2;
} 

.footer {
    grid-area: footer;
}


@media  (max-width:800px){

h1 {
        font-family: miFuente;
        font-size: 3em;
        font-weight: 200;
        margin-left: 40%;
        margin-top: 2%;
    
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0.8px;
    }
.footer {
        grid-area: footer;
      
    }
.borde{
   margin-left: 5%;
  
}
h2{
    margin-left: 5%;  
}
.parrafo
{
    margin-left: 5%;
   
 }

 .parrafo2
{
    margin-left: 5%;
   
 }

.main-content2{
        grid-area: Main2;
        /* background-color: aqua; */
    }

h3 {
        font-family: miFuente3;
        font-size: 1.2em;
        font-weight: 200;
        margin-left: 40%;
    }
    
.contenedor  { grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 10fr 0.5fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "side-area"
        "main"
        "Main2"
        "side-area2"
        "footer";
}

}




